.navigation {
    background-color: gray;
    color: white;
    text-align: center;
    max-width: 500px;
    margin: 10 auto 10 auto;
}

.navigation a {
    color: white;
}

.accordgrid {
    max-width: 800px;
    margin: 0px auto;
}

.contact h1 {
    text-align: center;
}

.tables th, .tables td{
    margin: 20px;
    padding:20px;
    font-size: 20pt;
    border: 3px solid goldenrod;
    font-family: sans-serif;
    background-color: dimgray;
    align-content: center;
    border-collapse: collapse;
}

table.center{
    margin-left: auto;
    margin-right: auto;
    table-layout: auto;
    width: 100%;
}

.tables tr{
    margin: 20px;
    padding: 10px;
    font-size: 20px;
    font-family: sans-serif;
    color: black;
    text-align: center;
}

.portfolio-bg {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100&1+0,0+100;Blue+to+Transparent */
    background: -moz-linear-gradient(top, rgba(30, 87, 153, 1) 0%, rgba(125, 185, 232, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(30, 87, 153, 1) 0%, rgba(125, 185, 232, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(30, 87, 153, 1) 0%, rgba(125, 185, 232, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8', GradientType=0);
    /* IE6-9 */
    width: 100%;
    height: 100%;
    position: relative;
}

.home-bg {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a90329+22,6d0019+73 */
background: rgb(169,3,41); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(218,165,32,1) 22%, rgba(0,0,0,1) 73%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(218,165,32,1)) 22%,rgba(218,165,32,1) 73%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  rgba(218,165,32,1) 22%,rgba(0,0,0,1) 73%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

width: 100%;
height: 100%;
position: relative;
}

.contact-bg {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfff4+0,dfe5d7+40,b3bead+100;Wax+3D+%233 */
background: rgb(252,255,244); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(252,255,244,1) 0%, rgba(223,229,215,1) 40%, rgba(179,190,173,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */

width: 100%;
height: 100%;
position: relative;    
}